$font-main: 'Mukta', sans-serif;
$font-weight-light: 200;
$font-weight-regular: 500;
$font-weight-bold: 800;

$main-color-coffee: rgb(193, 148, 15);
$main-color-white: rgb(254, 254, 254);
$main-color-black: rgb(0,0,0);
